# Backend
backend/dist/
backend/node_modules/
backend/.env

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
.nyc_output/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Root level
/node_modules
.env
